@{
    ViewBag.Title = "Klet's - sing";
}

<div class="jumbotron">
    <h1>Klet's - sing</h1>
    <p class="lead">Kinderliedjes voor ondersteuning bij de behandeling van de spraak- en taalproblemen en/of hoorproblemen.  Peuters en kleuters leren in een veilige en plezierige omgeving. Met plezier en voorspelbaarheid kun je kinderliedjes inzetten voor logopedische problemen van peuters en kleuters. We ervaren dagelijks hoe krachtig muziek werkt. Zelfs als een kind nog niet spreekt. Doelen rondom articulatie, beurtwisseling, woordenschat, initiatief name, zinsbouw, actie-reactie, fonologische bewustzijn komen krijgen aandacht via deze liedjes. De opbouw van onze website helpt je bij het zoeken van het juiste kinderliedje bij het juiste doel! De liedjes van Klet’s-sing zijn kant en klaar met muziek en zang, ze zijn speciaal voor kleuters en peuters met spraak- en taalproblemen en/of hoorproblemen ontwikkeld en geschreven.
Het gebruik van deze website is voor behandelaren die de workshop ‘Klet’s-sing in de vroegbehandeling’ hebben gevolgd. Je leert in deze workshop hoe je een activiteit met kinderliedjes kunt opbouwen. Klet’s-sing zegt het al let’s sing en kletsen!!</p>
</div>